<div class="p-10">
  <div class="table-responsive">
    <table class="table table-bordered" [cellPadding]="0">
      <thead class="text-center">
        <tr>
          <th>Employé</th>
          <th>8h - 9h</th>
          <th>9h - 10h</th>
          <th>10h - 11h</th>
          <th>11h - 12h</th>
          <th>12h - 13h</th>
          <th>13h - 14h</th>
          <th>14h - 15h</th>
          <th>15h - 16h</th>
          <th>16h - 17h</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of formattedArray; index as i">
          <td class="text-center">{{ employeeName[i] }}</td>
          <td *ngFor="let item of getCells(employee)" style="padding: 0">
            <button
              [disabled]="item.status"
              style="width: 100%; border-width: 0"
              class="btn btn-white"
              [ngClass]="{
                'stripe-2': item.status
              }"
              (click)="handleClick(employeeName[i], item)"
            >
              <div style="width: 100%; height: 50px">{{ " " }}</div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
