.header {
    border-bottom: #111111;
}

.header_logo,
.header_menu,
.header_right {
    padding: 15px 0 13px;
}

.logo {
    color: #ff4f9d;
    font-family: "Raleway", sans-serif;
}

.nav-link {
    padding: 10px 15px;
    font-size: 21px;
    transition: .5s;
    color: rgba(0, 0, 0, .55);
}

.active,
.nav-link:hover {
    cursor: pointer;
    color: #ff4f9d;
}

.violet-bar {
    height: 50px;
    background-color: violet;
}

fa-icon {
    font-weight: 900;
}