.header {
    border-bottom: #111111;
}

.header_logo,
.header_menu,
.header_right {
    padding: 15px 0 13px;
}

.logo {
    color: #ff4f9d;
    font-family: "Raleway", sans-serif;
}

.nav-link {
    padding: 10px 15px;
    font-size: 21px;
    transition: .5s;
    color: rgba(0, 0, 0, .55);
}

.nav-link:hover {
    color: #ff4f9d;

}

.violet-bar {
    height: 50px;
    background-color: violet;
}

fa-icon {
    font-weight: 900;
}

// animation lots du survol d'un élément
// .hover-underline-animation {
//     display: inline-block;
//     position: relative;
// }

// .hover-underline-animation::after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     transform: scaleX(0);
//     height: 2px;
//     bottom: 0;
//     left: 0;
//     background-color: $first-color;
//     transform-origin: bottom right;
//     transition: transform 0.25s ease-out;
// }

// .hover-underline-animation:hover::after {
//     transform: scaleX(1);
//     transform-origin: bottom left;
// }