<div class="sidebar">
    <div class="sidebar__categories">
        <div class="input-group mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Rechercher..." (keyup)="onSearch($event)"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><fa-icon
                    [icon]="faSearch"></fa-icon></button>
        </div>
        <div class="section-title">
            <h4>Categories</h4>
        </div>
        <div class="categories__accordion mb-3">
            <div class="" id="accordionExample">
                <select class="form-select mt-2" aria-label="Default select example"
                    (change)="onChangeCategory($event)">
                    <option *ngFor="let item of categoryItems" [value]="item">
                        {{ item }}
                    </option>
                </select>
            </div>
        </div>
        <div class="sidebar__filter">
            <div class="section-title">
                <h4>Prix</h4>
            </div>
            <div class="filter-range-wrap">
                <input type="range" class="range-slider" min="5000" max="100000" [defaultValue]="100000"
                    id="customRange2" (change)="onChangePrice($event)">
                <div class="range-slider">
                    <div class="price-input">
                        <p>Prix: 5000Ar - {{price+'Ar'}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>