<section class="rotatingText">
  <div class="rotatingText-content">
    <p class="rotatingText-description">On va vous aider à être&hellip;</p>

    <h2 class="rotatingText-adjective">Plus confiante</h2>
    <h2 class="rotatingText-adjective">Plus épanouie</h2>
    <h2 class="rotatingText-adjective">La plus belle 👌</h2>
  </div>
</section>

<p class="text-center">
  by
  <span class="fw-bold" style="font-size: large"
    >TOVONALINTSOA Antonny Christian</span
  >
</p>
<p class="text-center">
  <span class="fw-bold" style="font-size: large"
    >RASOAMAHENINA Sambatra Gaël</span
  >
</p>
