.icon-red {
    color: red;
}

.icon-uncolored {
    color: transparent;
    stroke: black;
  stroke-width: 10;;
}

.icon-uncolored:hover {
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    border-color: #ff7cb6;
    background-color: #fee2f0;
}