<div class="card" style="width: 100%;">
    <div>
        <img style="height: 160px; width: 100%;" [src]="'http://localhost:8000/'+service?.path" class="card-img-top">
    </div>
    <div class="card-body">
        <h5 class="text-center mt-1">{{service?.name}}</h5>
        <p class="d-flex justify-content-center"><b>Catégorie : </b>&nbsp;{{service?.category}}</p>
        <p class="d-flex justify-content-center"><b>Durée : </b>&nbsp;{{service?.duration}}h <b> &nbsp; Prix :</b>
            &nbsp;
            <span
                *ngIf="isTodaySpecialOffer"><del>&nbsp;{{service?.price}}Ar</del>&nbsp;{{service?.priceOffer}}Ar</span>
            <span *ngIf="!isTodaySpecialOffer">{{service?.price}}Ar</span>

        <p *ngIf="isTodaySpecialOffer" class="d-flex justify-content-center">
            <span>
                <b>Offre spéciale : </b>&nbsp; {{service?.startOffer | date: "d MMM y"}} - {{service?.endOffer |
                date: "d MMM y"}}
            </span>
        </p>
    </div>
</div>