<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"
        ><h2><span class="fa fa-android"></span></h2
      ></span>
      <h4 class="company_title">M1P11-MEAN</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row mt-5">
          <h2>Retrouvons votre compte !!!</h2>
        </div>
        <div class="row" *ngIf="step === 1">
          <form
            (ngSubmit)="onSubmit()"
            [formGroup]="forgetPasswordForm"
            class="form-group"
          >
            <div class="row">
              <input
                type="text"
                name="identifier"
                id="identifier"
                class="form__input"
                placeholder="Adresse mail"
                formControlName="identifier"
              />
              <div
                *ngIf="
                  forgetPasswordForm.get('identifier')?.hasError('required') &&
                  forgetPasswordForm.status === 'INVALID' &&
                  (isLoginFormSubmitted === true ||
                    forgetPasswordForm.get('identifier')?.touched)
                "
                class="fw-light text-danger"
              >
                {{ "Veuillez remplir ce champ" }}
              </div>
              <div
                *ngIf="
                  forgetPasswordForm.get('identifier')?.hasError('email') &&
                  forgetPasswordForm.status === 'INVALID' &&
                  (isLoginFormSubmitted === true ||
                    forgetPasswordForm.get('identifier')?.touched)
                "
                class="fw-light text-danger"
              >
                {{ "Adresse mail invalide" }}
              </div>
            </div>
            <div class="row justify-content-center">
              <input
                type="submit"
                value="Vérifier"
                class="btn"
                *ngIf="!firstStepLoading"
              />
              <button class="btn" *ngIf="firstStepLoading">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="step === 2">
          <form
            (ngSubmit)="onSubmitSecondStep()"
            [formGroup]="secondStepForm"
            class="form-group"
          >
            <div class="row">
              <input
                type="password"
                name="password"
                id="password"
                class="form__input"
                placeholder="Mot de passe"
                formControlName="password"
              />
            </div>
            <div class="row justify-content-center">
              <input
                type="submit"
                value="Vérifier"
                class="btn"
                *ngIf="!secondStepLoading"
              />
              <button class="btn" *ngIf="secondStepLoading">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="step === 3">
          <form
            (ngSubmit)="onSubmitFinalStep()"
            [formGroup]="finalStepForm"
            class="form-group"
          >
            <div class="row">
              <input
                type="password"
                name="tempPassword"
                id="tempPassword"
                class="form__input"
                placeholder="Mot de passe"
                formControlName="tempPassword"
              />
              <input
                type="password"
                name="password"
                id="password"
                class="form__input"
                placeholder="Mot de passe"
                formControlName="password"
              />
              <div
                *ngIf="
                  finalStepForm.get('tempPassword')?.touched &&
                  finalStepForm.get('password')?.touched &&
                  finalStepForm.get('tempPassword')?.value !==
                    finalStepForm.get('password')?.value
                "
                class="fw-light text-danger"
              >
                Mots de passe non identiques
              </div>
            </div>
            <div class="row justify-content-center">
              <input type="submit" value="Vérifier" class="btn" />
            </div>
          </form>
        </div>
        <div class="row">
          <p>
            <a
              class="text-decoration-underline text-primary cursor-pointer"
              routerLink="/frontoffice"
              >Se connecter</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
  by <span>TOVONALINTSOA Antonny Christian</span><br />
  <span>RASOAMAHENINA Sambatra Gaël</span>
</div>
