<div class="modal fade hide" [ngClass]="'hide'" id="modalService" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    {{mode === 'create'? 'Ajouter': 'Modifier'}} une
                    service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="serviceForm">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Nom</label>
                                <input formControlName="name"
                                    [ngClass]="submitted && serviceForm.get('name')?.errors ? 'form-control is-invalid' : 'form-control'"
                                    type="text" />
                                <p *ngIf="submitted && serviceForm.get('name')?.errors" class="invalid-feedback">
                                    Ce champ est obligatoire
                                </p>
                            </div>
                            <div class="col">
                                <label for="" class="form-label">Prix</label>
                                <input formControlName="price"
                                    [ngClass]="submitted && serviceForm.get('price')?.errors ? 'form-control is-invalid' : 'form-control'"
                                    type="number" placeholder="En ariary" />
                                <p *ngIf="submitted && serviceForm.get('price')?.errors" class="invalid-feedback">
                                    Le prix doit-être un nombre positif
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Duree</label>
                                <input formControlName="duration"
                                    [ngClass]="submitted && serviceForm.get('duration')?.errors ? 'form-control is-invalid' : 'form-control'"
                                    type="number" placeholder="En minute" />
                                <p *ngIf="submitted && serviceForm.get('duration')?.errors" class="invalid-feedback">
                                    La durée doit entre 15 à 120 minutes
                                </p>
                            </div>
                            <div class="col">
                                <label for="" class="form-label">Commission</label>
                                <input formControlName="commission"
                                    [ngClass]="submitted && serviceForm.get('commission')?.errors ? 'form-control is-invalid' : 'form-control'"
                                    type="number" min="0" placeholder="En ariary" />
                                <div *ngIf="submitted && serviceForm.get('commission')?.errors"
                                    class="invalid-feedback">
                                    La commission doit-être un nombre positif
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <label for="" class="form-label">Description</label>
                        <textarea formControlName="description" class="form-control"></textarea>
                    </div>
                    <div class="mb-1">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()"
                    #closeModal>Annuler</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Confirmer</button>
            </div>
        </div>
    </div>
</div>