@import url(../../modules/modules.component.scss);

$navbar-background: #F8F9FA;
$second-color: #202938;

.offcanvas-custom {
	width: 300px;
  background-color: $second-color;
  color: white;
	.offcanvas-header {
		background-color: $second-color;
	}
}

.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $second-color;
  overflow-x: hidden;
  padding-top: 20px;
}

.non-active-sidebar {
  background-color: $second-color;
  color: white
}

.active-sidebar {
  background-color: white;
  color: $second-color
}

.menu-active {
  background-color: rgba(0,0,0,.5);
  color: #fff;
}