.user-img {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.role {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.role:before, .role:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
	border-style: double;
}

.role:before {
    margin-left: -50%;
    text-align: right;
}

.icon-red {
    color: red;
}

.icon-uncolored {
    color: transparent;
    stroke: black;
  	stroke-width: 10;
	width: 50px;
}

.card {
    border-color: #ff7cb6;
    background-color: #fee2f0;
}

$button-color: #ff7cb6;

.btn-background-color{
    background-color: $button-color;
    color: white;
}