.stripe-2 {
    color: black;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            #ccc 10px,
            #ccc 20px),
        linear-gradient(to bottom,
            #eee,
            #999);
    cursor: not-allowed;
}

.stripe-1 {
    color: blue;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            #ccc 10px,
            #ccc 20px),
        linear-gradient(to bottom,
            #eee,
            blue);
    cursor: not-allowed;
}

.calendar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: auto;
    position: relative;
}

.legend-rect {
    width: 60px;
    height: 20px;
}

input {
    border-color: #ff7cb6;
}

.btn-background-color{
    background-color: #ff7cb6;
    color: white;
}

#container {
    width: 100vw;
    height: 100%;
    min-height: 89vh;
    background-image: url('../../../../assets/front-office/background2.jpg');
    background-size: cover;
}